---
title: "Essa é minha homepage"
---



<section class="section my-word">
  <div class="container container--compact">
    <div class="grid">
      <div class="content">
        <h2 class="headline headline--size-1">Quem sou eu?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
      </div>
      <div class="content">
        <picture>
          <img src="/img/controle-xbox.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container container--compact">
    <div class="grid">
      <div class="content">
        <h2 class="headline headline--size-1">Quem sou eu?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
      </div>
      <div class="content">
        <picture>
          <img src="/img/controle-xbox.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>