{{ define "main" }}
  {{ .Content }} <!-- -->
  {{ range where .Site.Pages "Type" "post" }}
    <ul>
      <li>
        <a href="{{ .Permalink }}">
          {{ .Title }}
          {{ time.Format "2006-01-02" .Date }}
        </a>
      </li>
    </ul>
  {{ end }}
{{ end }}