<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>

  <link rel="stylesheet" href="/style.css">
</head>


<body>


  <header class="section section--compact">
    <div class="container">
      <h1 class="headline headline--size-2 text-center">O mundo do Jhujhu</h1>
    </div>
  </header>

  <main>
    {{ block "main" . }}
    {{ end }}
  </main>

  <footer class="section section--compact text-center" style="background: rgba(2, 110, 147, 0.1);">
    <p>Site feito com ❤️ pelo JhuJhu</p>
  </footer>

</body>
</html>