/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 

Global

*/

:root {
  --color-white: #ffffff;
  --color-black: #000000;
}


body { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  line-height: 1.6;
  color: var(--black);
}


/* 

Section

*/

.section { 
  padding: 8rem 1.5rem;
  position: relative;
}

.section--compact { 
  padding: 2.5rem 1.5rem;
  position: relative;
}


/* 

Container

*/

.container { 
  max-width: 1400px;
  margin: auto;
}

.container--compact { 
  max-width: 1010px;
}

/* 

Grid

*/

.grid { 
  align-items: center;
  display: grid;
  gap: 4rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-columns: inherit;
}

/* 

Content

*/

.content > * + * { 
  margin-top: 1.5rem;
}


/* 

Headline

*/

.headline { 
  font-weight: bold;
}

.headline--size-1 { 
  font-size: 48px;
}

.headline--size-2 { 
  font-size: 22px;
}

.text-center { 
  text-align: center;
}

/* 

Section my-word
_index raiz pasta content

*/

.my-word { 
  background: rgba(2, 110, 147, 0.1);
}